body {
    background-color: black;
    color: white;
    text-align:center;
    position: relative;
    margin:20px;
}

@keyframes loading{
    0% {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
}

#load {
    width: 75px;
    height: 75px;
    -moz-animation: loading 4s infinite;
    -webkit-animation: loading 4s infinite;
    -o-animation: loading 4s infinite;
    animation: loading 4s infinite;
}

.saturate { filter: saturate(10); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.75); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }

div {
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
